{{extend 'layout.html'}}
<h1>{{=thing.name}}</h1>

{{if form:}}

<div class="row">
  <div class="col-sm-3" style="background-color:lavender;">
    <br/>
    <img width="200px"
         src="{{=URL('default', 'download', args=thing.picture)}}" class="mx-auto d-block img-thumbnail"/>
</div>
  <div class="col-sm-9" style="background-color:lavenderblush;">
    {{=form}}
  </div>
</div>

{{pass}}
