{{extend 'layout.html'}}
<h1>{{=place.name}}</h1>

{{if form:}}

<div class="row">
  <div class="col-sm-3" style="background-color:lavender;">
    <br/>
    <img width="200px"
         src="{{=URL('default', 'download', args=place.picture)}}" class="mx-auto d-block img-thumbnail"/>
</div>
  <div class="col-sm-9" style="background-color:lavenderblush;">
    {{=form}}
  </div>
</div>

{{pass}}



<h2>{{=T('This place has this rooms')}}:</h2>

<ul>
{{for room in rooms:}}
{{=LI(A(room.name, _href=URL('room', 'show', args=room.id)))}}
{{pass}}
</ul>
